<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= articleTitle %> - RaceWiki</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <link rel="stylesheet" href="/css/category.css">
</head>
<body>

  <header class="header mb-4">
    <div class="container d-flex flex-wrap align-items-center">
      <a href="/" class="text-decoration-none">
        <h1 class="display-5">RaceWiki</h1>
      </a>

      <div class="ms-auto d-lg-none align-items-center">
        <a href="/signin" class="btn btn-sm btn-outline-danger me-2">Sign In</a>
        <a href="/controlpattern" class="btn btn-sm btn-outline-warning">Control Panel</a>
      </div>

      <div class="ms-auto d-none d-lg-block">
        <form action="/search" method="get" class="me-2">
          <div class="input-group">
            <input type="text" class="form-control" name="query" placeholder="Search...">
            <button type="submit" class="btn btn-outline-danger">Search</button>
          </div>
        </form>
      </div>
      
      <nav class="nav mt-2 mt-lg-0 w-100 w-lg-auto">
        <% for (let category of categories) { %>
          <a class="nav-link" href="/category/<%= category %>"><%= category %></a>
        <% } %>
        <a href="/signin" class="nav-link d-none d-lg-inline-block btn btn-sm btn-outline-danger ms-auto">Sign In</a>
        <a href="/controlpanel" class="nav-link d-none d-lg-inline-block btn btn-sm btn-outline-warning ms-2">Control Panel</a>
      </nav>
      
      <form action="/search" method="get" class="mt-2 d-lg-none w-100">
        <div class="input-group">
          <input type="text" class="form-control" name="query" placeholder="Search...">
          <button type="submit" class="btn btn-outline-danger">Search</button>
        </div>
      </form>

    </div>
  </header>
    
  <main class="container">
    <div class="row">
      
      <h1 class="topic-title mb-4"><%= articleTitle %></h1>

      <!-- Left side navigation column -->
      <nav class="col-md-3 pe-md-4 d-none d-md-block">
        <ul class="nav flex-column">
          <% for (let section of sections) { %>
            <li><a href="#<%= section[1] %>"><%= section[1] %></a></li>
          <% } %>
        </ul>
      </nav>
      <!-- Main content column -->


      <section class="col-md-6">
        <% for (let section of sections) { %>
          <h2 id="<%= section[1] %>"><%= section[1] %></h2>
          <% if(!section[0]) { %>
            <p> <%= section[2] %> </p>
          <% } else { %>  
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          <% } %>
        <% } %>
      </section>
      <!-- Right side sidebar column -->
      <aside class="col-md-3 ps-md-4">
        <div class="card">
        <img src="<%= pictureURL %>" class="img-fluid border" alt="<%= articleTitle %>">
          <div class="card-body">
            <h5 class="card-title">General Info</h5>
            <% for (let info of generalInfo) { %>
              <p class="card-text"><%= info[0] %>: <%= info[1] %></p>       
            <% } %>
          </div>
        </div>
      </aside>
    </div>
  </main>

  <footer class="footer mt-auto py-3">
    <div class="container">
      <p class="text-muted">© RaceWiki</p>
    </div>
  </footer>
    
</body>
</html>