<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= props.articleTitle %> - RaceWiki</title>

  <!-- Linking Needed files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <link rel="stylesheet" href="/css/category.css">
</head>
<body>

  <header class="header mb-4">
    <div class="container d-flex flex-wrap align-items-center">
      <a href="/" class="text-decoration-none">
        <h1 class="display-5">RaceWiki</h1>
      </a>

      <div class="ms-auto d-lg-none align-items-center">
        <a href="/controlpattern" class="btn btn-sm btn-outline-warning">Control Panel</a>
      </div>

      <div class="ms-auto d-none d-lg-block">
        <form action="/search" method="get" class="me-2">
          <div class="input-group">
            <input type="text" class="form-control" name="query" placeholder="Search...">
            <button type="submit" class="btn btn-outline-danger">Search</button>
          </div>
        </form>
      </div>
      
      <nav class="nav mt-2 mt-lg-0 w-100 w-lg-auto">
        <% for (let category of props.categories) { %>
          <a class="nav-link" href="/category/<%= category.replace(/ /g, '_') %>"><%= category %></a>
        <% } %>
        <a class="nav-link" href="/newcategory">+</a>
        <% if(permission == "ADMIN"){%>
          <a href="/controlpanel" class="nav-link d-none d-lg-inline-block btn btn-sm btn-outline-warning ms-2">Control Panel</a>
        <%} %>
        
      </nav>
      
      <form action="/search" method="get" class="mt-2 d-lg-none w-100">
        <div class="input-group">
          <input type="text" class="form-control" name="query" placeholder="Search...">
          <button type="submit" class="btn btn-outline-danger">Search</button>
        </div>
      </form>

    </div>
  </header>
    
  <main class="container">
    <div class="row">
      
      <!-- Article Title -->
      <h1 class="topic-title mb-4"><%= props.articleTitle %></h1>

      <!-- Form Div For New Objects (Should not be visible to normal users)-->
      <div id="NewFormDiv">
        <form id="NewForm" action="">
        </form> 
      </div>

      <!-- Left side navigation column (Shorcuts) -->
      <nav class="col-md-3 pe-md-4 d-none d-md-block">
        <ul class="nav flex-column">
          <% for (let section of props.sections) { %>
            <li><a href="#<%= section[1] %>"><%= section[1] %></a></li>
          <% } %>
        </ul>
      </nav>

      <!-- Main content column -->
      <section class="col-md-6">

        <!-- Traverse Each Section -->
        <% for (let section of props.sections) { %>

          <!-- Section Title -->
          <h2 id="<%= section[1] %>"><%= section[1] %>

            <!-- Adding an add button to section (Should not be visible to normal users)-->
            <% if(section[0] == "Table" && permission == "ADMIN") { %>
              <button type="button" class="btn btn-success" id="<%= section[1] %>Button" onclick="showForm('<%= section[1] %>Button','<%= props.relation %>')">+</button>            
            <% } %>

          </h2>

          <!-- If section is text, just display the text -->
          <% if(section[0] == "Text") { %>
            <p id="<%= section[1] %>Text" ondblclick="EditText('<%= section[1] %>Text')"> <%= section[2] %> </p>

          <!-- If section is tabular data -->
          <% } else if (section[0] == "Table") { %>  
            <table class="table table-bordered">

              <!-- Table headings -->
              <thead>
                <tr>
                  <% for (let headItem of section[3]) { %>
                    <th scope="col"><%=  headItem %></th>
                  <% } %>
                </tr>
              </thead>

              <tbody>
                <% for (let sectionObject of section[2]) { %>
                  <tr>
                    <% let counter = 0; %>
                    <% for (let key in sectionObject) { %>
                      <!-- If table data is just text -->
                      <% if (section[4][counter] == "Text") { %>
                        <td><%= sectionObject[key] %></td>
                      <!-- If table data is an image -->
                      <% } else if (section[4][counter] == "Image"){ %>
                        <td><img class="img-fluid border" src="<%= sectionObject[key] %>"  alt=""></td>
                      <!-- If table is a link -->
                      <% } else if (section[4][counter] == "Link"){ %>
                        <td><a href="<%= section[5] %><%= sectionObject[key].replace(/ /g, '_'); %>"><%= sectionObject[key] %></a></td>
                      <% } %>  
                      <% counter += 1; %>
                    <% } %>  
                  </tr>                
                <% } %>
              </tbody>
            </table>
          <% } %>
        <% } %>
      </section>

      <!-- Right side sidebar column (General Info)-->
      <aside class="col-md-3 ps-md-4">
        <div class="card">
        <img src="<%= props.pictureURL %>" class="img-fluid border" alt="<%= props.articleTitle %>" id="generalInfoImage">
          <div class="card-body">
            <h5 class="card-title">General Info</h5>
            <% for (let info of props.generalInfo) { %>
              <p class="card-text"><%= info[0] %>: <%= info[1] %></p>       
            <% } %>
          </div>
        </div>
      </aside>

    </div>
  </main>

  <footer class="footer mt-auto py-3">
    <div class="container">
      <p class="text-muted">© RaceWiki</p>
    </div>
  </footer>
    
  <!-- This Script should not be imported for normal users -->
  <script type="text/javascript" src="/js/article.js"></script>
  <% if(props.additionalScripts){  %>
    <% props.additionalScripts.forEach(x => { %>
    <script type="text/javascript" src="<%= x %>"></script>
  <%})}%>

</body>
</html>